@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
* {
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}
.App {
  height: 100%;
  width: 100%;
  text-align: center;
}
.TestAudio {
  height: 97%;
  width: 100%;
}

#timeSlider{
  width:90vw;
  height:2vh;
}
/* --------FOOTER NAV BAR--------- */
footer {
  height: 20%;
  background: #ecf0f3;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
}
.social-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-buttons-outset {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 3px 3px 9px #b7b7b7,
               inset -4px -4px 7px #ffffff;
}
.nav-buttons-inset {
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 3px 3px 6px 0px #b0b1b3,
             -4px -4px 5px #ffffff;


  
}
.button-icons {
  height: 2.3em;
  width: 2.3em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);}
.social-icons {
  height: 1.5em;
  width: 1.5em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}
.social-buttons {
  width: 100%;
  height: 38%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #686a6b;
  border-top: 1px solid #adadad;
  box-shadow: inset 0px 3px 5px #bfbfbf;
}
.nav-buttons {
  width: 100%;
  height: 55%;
  display: flex;
  box-shadow: 0px -5px 3px 0px #dedede;
}
.like-comment-container {
  display: flex;
}
.individual-btn {
  height: 30px;
  width: 35px;
  color: #ec6aa0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #3d3f3f,
             -3px -3px 5px #939597;
}
/* -----------------------------------------------Customize Rhymes Section--------------------------------------------------- */
.TestAudio p {
  font-size: 15x;
  font-weight: bold;
  text-shadow: 3px 4px 5px #494848;
}
.scroll-rhymes-container {
  background-image: url('./images/abstract.jpg');
  background-size: cover;
  height: 40%;
  overflow-y: scroll;
}
.custom-rhyme {
  height: 50px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #b7b4b4;
  box-shadow: inset 4px 4px 5px #999c9e, 
              inset -4px -4px 7px #ffffff;
}
.custom-rhyme-inner {
  height: 65%;
  width: 94%;
  background: #383838;
  border-radius: 50px;

}
.suggestions-container {
  height: 40%;
  width: 100%;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suggestions {
  height: 45%;
  width: 95%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px #d0d2d4, 
             -2px -2px 3px #ffffff;
}
.canvas-anim-box {
  background: #ecf0f3;
  border-top: 1px solid #ecf0f3;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas-outset {
  height: 85%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #ecf0f3;
  box-shadow: 3px 3px 5px 0px #d0d2d4, -2px -2px 3px #ffffff;
}
.canvas-inset {
  height: 80%;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset 2px 2px 5px #999c9e, inset -3px -3px 4px #ecebeb;
  /* background-image: url('./images/canvas-wave.png');
  background-size: cover;
  background-position-y: center; */
}
.canvas-container {
  height: 70%;
  width: 91%;
  border-radius: 50px;
  overflow: hidden;
}
canvas {
  position: relative;
  bottom: 80%;
}
.playback-controls-panel {
  height: 35%;
  background: #686a6b;
  border-top: 1px solid #8a8c8e;
  box-shadow: inset 1px 3px 4px 0px #adadad;
}
.playback-container {
  height: 33%;
  display: flex;
  justify-content: center;
}
.playback-wrapper {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
}

.tracks-container {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tracks-inset {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px #313232,
              inset -5px -5px 5px #9fa2a4;
}
.tracks-onset {
  height: 65%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383838;
  border-radius: 50px;
}
#selectBox {
  background-color: #383838;
  color: white;
  border-color: #383838;
}
#selectBox:focus {
  outline: none !important;
}
.selected-container {
  width: 20%;
  display: flex;
  justify-content: center;
}
.selected-container div {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  font-size: .7em;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 7px #3d3f3f,
             -4px -4px 5px #939597;
}
.duration-container {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dur-inset {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px #313232,
              inset -5px -5px 5px #9fa2a4;
}
.dur-onset {
  height: 40%;
  width: 95%;
  border-radius: 50px;
  background: #63DEBC;
}
/* -----------Play Studio Buttons (TESTAUDIO)------------- */
.button-icons-inset {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #686a6b;
  box-shadow: inset 5px 5px 15px #313232, 
              inset -5px -5px 15px #9fa2a4;
  transition: box-shadow .5s;
}
.button-icons-outset:active {
  box-shadow: inset 2px 2px 3px #313232, 
              inset -2px -2px 3px #9fa2a4;
}
.icon-double-inset.idi-1:active {
  animation: none;
  box-shadow: inset 2px 2px 3px #313232, 
              inset -2px -2px 3px #9fa2a4;
}
.button-icons-outset {
  height: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #686a6b;
  box-shadow:  4px 4px 10px #3d3f3f,
              -4px -4px 10px #939597;
}
.nav-list-play{
  display: flex;
  height: 55%;
  width: 100%;
  border-top: 1px solid #686a6b;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}
.nav-buttons-play {
  height: 60%;
  padding-top: 10px;
  background: #ecf0f3;
  border-top: 5px solid #ecf0f3;
  box-shadow: inset 0px 3px 5px #cecece;
}
.bi-play {
  font-size: .9em;
}
/*-----------------------------HAMBURGER HAMBURGER HAMBURGER MENU MENU MENU-------------------------*/
nav {
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: #686a6b;
  border-bottom: 5px solid #686a6b;
  box-shadow: inset -1px -3px 5px 0px #8e8b8b;
}

.hamburger-button {
  height: 60px;
  width: 60px;
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0);
}
.hamburger-button div {
  display: block;
  width: 25px;
  height: 5px;
  margin: 4px;
  position: relative;
  background: #ec6aa0;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px #313232, 
              inset -1px -1px 1px #aaacad;
}
.menu {
  height: 85%;
  width: 85%;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #686a6b;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 20px;
  box-shadow: inset 3px 3px 4px #484b4c, 
              inset -3px -3px 4px #8c8f90;
  /* transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); */
}
.menu-route {
  height: 30%;
  width: 50%;
  opacity: var(--menuOpacity)
}
.menu-outset {
  height: 100%;
  width: 55%;
  border-radius: 50px;
  border-radius: 50px;
  /* box-shadow: inset 4px 4px 5px #505050, 
            inset -4px -4px 5px #7d7f80; */

}
.menu-inset {
  height: 70%;
  width: 70%;
  /* background: linear-gradient(139deg, #d9dada, #919292);   */
  border-radius: 50px;
  /* box-shadow: 1px 1px 8px #2a2a2b, 
            -2px -2px 8px #a6aaab; */
}
.menu-route, .menu-outset, .menu-inset {
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --menuOpacity: 0;
  --btnOpacity: 0;
  --routedi2bg: #ecf0f3;
  --colorChange: white;
  --mo6boxShadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  --mo5boxShadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  --mo4boxShadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  --mo3boxShadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  --mo2boxShadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  --mo1boxShadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  --mi6boxShadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  --mi5boxShadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  --mi4boxShadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  --mi3boxShadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  --mi2boxShadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  --mi1boxShadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  --mi6bg: linear-gradient(139deg, #686a6b, #686a6b);
  --mi5bg: linear-gradient(139deg, #686a6b, #686a6b);
  --mi4bg: linear-gradient(139deg, #686a6b, #686a6b);
  --mi3bg: linear-gradient(139deg, #686a6b, #686a6b);
  --mi2bg: linear-gradient(139deg, #686a6b, #686a6b);
  --mi1bg: linear-gradient(139deg, #686a6b, #686a6b);
}
.mo-6 {
  box-shadow: var(--mo6boxShadow)
}
.mo-5 {
  box-shadow: var(--mo5boxShadow)
}
.mo-4 {
  box-shadow: var(--mo4boxShadow)
}
.mo-3 {
  box-shadow: var(--mo3boxShadow)
}
.mo-2 {
  box-shadow: var(--mo2boxShadow)
}
.mo-1 {
  box-shadow: var(--mo1boxShadow)
}
.mi-6 {
  box-shadow: var(--mi6boxShadow);
  background: var(--mi6bg)
}
.mi-5 {
  box-shadow: var(--mi5boxShadow);
  background: var(--mi5bg)
}
.mi-4 {
  box-shadow: var(--mi4boxShadow);
  background: var(--mi4bg)
}
.mi-3 {
  box-shadow: var(--mi3boxShadow);
  background: var(--mi3bg)
}
.mi-2 {
  box-shadow: var(--mi2boxShadow);
  background: var(--mi2bg)
}
.mi-1{
  box-shadow: var(--mi1boxShadow);
  background: var(--mi1bg)
}
.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
  color: var(--colorChange)
}

@keyframes massiveMenuAnimation {
  0% {
    --menuOpacity: 1;
    --mo6boxShadow: inset 0px 0px 0px #505050, inset -0px -0px 0px #7d7f80;
  }
  10% {
    --mo6boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mi6boxShadow: 0px 0px 0px #2a2a2b, -0px -0px 0px #a6aaab;
    --mi6bg: linear-gradient(139deg, #686a6b, #686a6b);
    --mo3boxShadow: inset 0px 0px 0px #505050, inset -0px -0px 0px #7d7f80;
  }
  20% {
    --mi6boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi6bg: linear-gradient(139deg, #d9dada, #919292);
    --mo3boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mi3boxShadow: 0px 0px 0px #2a2a2b, -0px -0px 0px #a6aaab;
    --mi3bg: linear-gradient(139deg, #686a6b, #686a6b);
    --mo5boxShadow: inset 0px 0px 0px #505050, inset -0px -0px 0px #7d7f80;
  }
  40% {
    --mi3boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi3bg: linear-gradient(139deg, #d9dada, #919292);
    --mo5boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mi5boxShadow: 0px 0px 0px #2a2a2b, -0px -0px 0px #a6aaab;
    --mi5bg: linear-gradient(139deg, #686a6b, #686a6b);
    --mo2boxShadow: inset 0px 0px 0px #505050, inset -0px -0px 0px #7d7f80;
  }
  60% {
    --mi5boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi5bg: linear-gradient(139deg, #d9dada, #919292);
    --mo2boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mi2boxShadow: 0px 0px 0px #2a2a2b, -0px -0px 0px #a6aaab;
    --mi2bg: linear-gradient(139deg, #686a6b, #686a6b);
    --mo4boxShadow: inset 0px 0px 0px #505050, inset -0px -0px 0px #7d7f80;
  }
  80% {
    --mi2boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi2bg: linear-gradient(139deg, #d9dada, #919292);
    --mo4boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mi4boxShadow: 0px 0px 0px #2a2a2b, -0px -0px 0px #a6aaab;
    --mi4bg: linear-gradient(139deg, #686a6b, #686a6b);
    --mo1boxShadow: inset 0px 0px 0px #505050, inset -0px -0px 0px #7d7f80;
    --mi1boxShadow: 0px 0px 0px #2a2a2b, -0px -0px 0px #a6aaab;
    --mi1bg: linear-gradient(139deg, #686a6b, #686a6b);
  }
  100% {
    --menuOpacity: 1;
    --mo6boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mo5boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mo4boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mo3boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mo2boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mo1boxShadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
    --mi6boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi5boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi4boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi3boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi2boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi1boxShadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --mi1bg: linear-gradient(139deg, #d9dada, #919292);
    --mi2bg: linear-gradient(139deg, #d9dada, #919292);
    --mi3bg: linear-gradient(139deg, #d9dada, #919292);
    --mi5bg: linear-gradient(139deg, #d9dada, #919292);
    --mi4bg: linear-gradient(139deg, #d9dada, #919292);
    --mi6bg: linear-gradient(139deg, #d9dada, #919292);
  }
}
/*------------------------------HOME HOME HOME HOME HOME HOME HOME HOME PAGE----------------------------*/
.Home {
  height: 99%;
}
.img-panel-container {
  height: 60%;
  background-image: url('./images/hero-image-1.png');
  background-size: cover;
  background-position-x: center;
}
.bottom-directories {
  height: 40%;
  background: #686a6b;
  border-top: 1px solid #686a6b;
  box-shadow: inset -1px 3px 5px 0px #8c8c8c;
  font-family: 'Major Mono Display', monospace;
  color: white;
}
.bm-dir-container {
  height: 33%;
  display: flex;
}
.dir-route {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dir-icon {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-directories h4 {
  opacity: var(--btnOpacity);
  animation: buttonOpacity .3s .8s linear forwards;
}
.route-outset, .route-inset, .route-double-inset, .icon-outset, .icon-inset, .icon-double-inset {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.home-record, .home-heart, .home-avatar {
  font-size: .7em;
  opacity: var(--btnOpacity);
}
@keyframes insetButtons {
  from {
    box-shadow: none
  }
  to {
    box-shadow: inset 5px 5px 5px #505050, 
                inset -2px -2px 5px #9fa2a4;
  }
}
@keyframes outsetButtons {
  from {
    box-shadow: none
  }
  to {
    box-shadow: 3px 3px 5px #abacad, 
               -3px -3px 4px #ffffff;
  }
}
@keyframes iconButtons {
  from {
    box-shadow: none
  }
  to {
    box-shadow: 1px 1px 4px #353535, 
                -1px -1px 3px #bbbcbd;
  }
}
@keyframes buttonOpacity {
  0% {
    --btnOpacity: 0;

  }
  25% {
    --btnOpacity: 0.25;
  }
  50% {
    --btnOpacity: 0.5;
  }
  75% {
    --btnOpacity: 0.75
  }
  100% {
    --btnOpacity: 1;

  }
}
@keyframes flowColor {
  0% {
    --routedi2bg: #ecf0f3;
  }
  50% {
    --routedi2bg: #7bc5a6;
  }
  100% {
    --routedi2bg: #58c397;
  }
}
.dr-1 .route-outset,
.dr-3 .route-outset {
  height: 85%;
  width: 90%;
  animation: insetButtons .3s linear forwards;
}
.dr-1 .route-inset,
.dr-3 .route-inset {
  height: 70%;
  width: 85%;
  animation: insetButtons .3s .3s linear forwards;
}
.dr-1 .route-double-inset,
.dr-3 .route-double-inset  {
  height: 55%;
  width: 80%;
  animation: insetButtons .3s .6s linear forwards, buttonOpacity .3s .8s linear forwards;
}
.bdc-1 {
  border-bottom: 1px solid #686a6b;
  box-shadow: inset 1px -4px 5px #585858;
}
.bdc-2 {
  background: #ecf0f3;
}
.bdc-3 {
  box-shadow: inset -1px 5px 5px 0px #8c8c8c;
}
.route-o2 {
  height: 85%;
  width: 90%;
  animation: outsetButtons .3s linear forwards;
}
.route-i2 {
  height: 70%;
  width: 85%;
  animation: outsetButtons .3s .3s linear forwards;
}
.route-di2 {
  height: 55%;
  width: 80%;
  background: var(--routedi2bg);
  animation: outsetButtons .3s .6s linear forwards, flowColor 1s .5s linear forwards;
}

.di-1 .icon-outset,
.di-3 .icon-outset {
  height: 70%;
  width: 70%;
  animation: insetButtons .3s linear forwards;
}
.di-1 .icon-inset,
.di-3 .icon-inset {
  height: 75%;
  width: 75%;
  animation: insetButtons .3s .3s linear forwards;
}
.di-1 .icon-double-inset,
.di-3 .icon-double-inset  {
  height: 60%;
  width: 60%;
  animation: iconButtons .3s .6s linear forwards, buttonOpacity .3s .8s linear forwards;
}
.io-2 {
  height: 70%;
  width: 70%;
  animation: outsetButtons .3s linear forwards;
}
.ii-2 {
  height: 75%;
  width: 75%;
  animation: outsetButtons .3s .3s linear forwards;
}
.idi-2 {
  height: 60%;
  width: 60%;
  animation: outsetButtons .3s .6s linear forwards, buttonOpacity .3s .8s linear forwards;
}