@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
:root {
  --routedi2bg: #ecf0f3;
  --menuOpacity: 0;
  --btnOpacity: 0;

  --mo6opacity: 0;
  --mo5opacity: 0;
  --mo4opacity: 0;
  --mo3opacity: 0;
  --mo2opacity: 0;
  --mo1opacity: 0;

  --link-color-6: #686a6b;
  --link-color-5: #686a6b;
  --link-color-4: #686a6b;
  --link-color-3: #686a6b;
  --link-color-2: #686a6b;
  --link-color-1: #686a6b;

  --anim-dip-6: btnDip .3s forwards;
  --anim-pop-6: btnPop .3s .3s forwards;
  --anim-dip-5: btnDip .3s forwards;
  --anim-pop-5: btnPop .3s .3s forwards;
  --anim-dip-4: btnDip .3s forwards;
  --anim-pop-4: btnPop .3s .3s forwards;
  --anim-dip-3: btnDip .3s forwards;
  --anim-pop-3: btnPop .3s .3s forwards;
  --anim-dip-2: btnDip .3s forwards;
  --anim-pop-2: btnPop .3s .3s forwards;
  --anim-dip-1: btnDip .3s forwards;
  --anim-pop-1: btnPop .3s .3s forwards;
}
@keyframes btnDip {
  0% {
    box-shadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
  }
  100% {
    box-shadow: inset 4px 4px 5px #505050, inset -4px -4px 5px #7d7f80;
  }
}
@keyframes btnPop {
  0% {
    box-shadow: 0px 0px 0px #686a6b, -0px -0px 0px #686a6b;
    background: linear-gradient(139deg, #686a6b, #686a6b);
  }
  50% {
    background: linear-gradient(139deg, #d9dada, #919292);
    box-shadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    --link-color-6: #686a6b;
    --link-color-5: #686a6b;
    --link-color-4: #686a6b;
    --link-color-3: #686a6b;
    --link-color-2: #686a6b;
    --link-color-1: #686a6b;
  }
  100% {
    box-shadow: 1px 1px 8px #2a2a2b, -2px -2px 8px #a6aaab;
    background: linear-gradient(139deg, #d9dada, #919292);
    --link-color-6: #ec6aa0;
    --link-color-5: #ec6aa0;
    --link-color-4: #ec6aa0;
    --link-color-3: #ec6aa0;
    --link-color-2: #ec6aa0;
    --link-color-1: #ec6aa0;
  }
}
@keyframes massiveMenu {
  0% {
    --menuOpacity: 1;
  }
  14% {
    --mo6opacity: 1;
    --anim-dip-6: btnDip .3s forwards;
    --anim-pop-6: btnPop .3s .35s forwards;
  }
  28% {
    --mo3opacity: 1;
    --anim-dip-3: btnDip .3s forwards;
    --anim-pop-3: btnPop .3s .3s forwards;
  }
  44% {
    --mo5opacity: 1;
    --anim-dip-5: btnDip .3s forwards;
    --anim-pop-5: btnPop .3s .3s forwards;
  }
  58% {
    --mo2opacity: 1;
    --anim-dip-2: btnDip .3s forwards;
    --anim-pop-2: btnPop .3s .3s forwards;
  }
  72% {
    --mo4opacity: 1;
    --anim-dip-4: btnDip .3s forwards;
    --anim-pop-4: btnPop .3s .3s forwards;
  }
  86% {
    --mo1opacity: 1;
    --anim-dip-1: btnDip .3s forwards;
    --anim-pop-1: btnPop .3s .3s forwards;
  }
  100% {
    --menuOpacity: 1;
    --mo6opacity: 1;
    --mo5opacity: 1;
    --mo4opacity: 1;
    --mo3opacity: 1;
    --mo2opacity: 1;
    --mo1opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}
html, body, #root {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
}
.App {
  height: 100%;
  width: 100%;
  margin-top: -5px;
  text-align: center;
}
@keyframes notify{
  0% {width:0vw;
      margin-left: 100vw;}
  50% {width:25vw;
      margin-left:75vw}
  100%{width:0vw;
      margin-left: 100vw;}
}
@keyframes hideNotify{
  from {width:25vw}
  to {width:0vw}
}
.notification {
  z-index: 200;
  position:absolute;
  margin-left:100vw;
  margin-top:10vh;
  height:10vh;
  width:0vw;
  background-color: white;
  border-radius: 20px;
  
}
.TestAudio {
  height: 97.2%;
  width: 100%;
}
.SocialFeed {
  height: 100%;
  width: 100%;
  background: #000000eb;
}
.LogIn {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: fixed;
}
.EditProfileScreen {
  height: 100%;
  width: 100%;
}
.Profile {
  height: 100%;
  width: 100%;
}
#timeSlider{
  width:90vw;
  height:2vh;
}
/* ------------------------------FOOOTER FOOOTER NAV NAV NAV BAR--------------------------------------------------- */
.nav-buttons-outset, .nav-buttons-inset, .social-buttons, .individual-btn, .com-cont-1, .comments-container, .input-container, .input-inset {
display: flex;
justify-content: center;
align-items: center;
}
footer {
  height: 20%;
  /* height: 20%; */
  width: 100%;
  position: fixed;
  bottom: 0;
  background: linear-gradient(90deg, #ec66b7, #40bdac);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
}
.social-list {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-buttons-rim {
  height: 80%;
  width: 20%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px 0px #b7b8b9, -2px -2px 3px #ffffff;
}
.nav-buttons-outset {
  height: 90%;
  width: 92%;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px #cacaca, inset -3px -3px 4px #ffffff;
}
.nav-buttons-inset {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  box-shadow: 2px 2px 4px 0px #b0b1b3, -2px -2px 3px #ffffff;
}
/*--------------------------BUTTON ICONS AND COLORS BUTTON ICONS AND COLORS---------------------------------------------*/
/* .follow, .heart, .comment {
  filter: invert(82%) sepia(93%) saturate(326%) hue-rotate(89deg) brightness(81%) contrast(84%);
} */
.button-icons {
  height: 2.3em;
  width: 2.3em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);}
.social-icons {
  height: 1.5em;
  width: 1.5em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}
.follow {
  height: 1.4em;
  width: 1.4em;
}
.heart {
  height: 1.7em;
  width: 1.7em;
}
.bi-play {
  margin-left: 3px;
}
.edit {
  height: 1.9em;
  width: 1.9em;
}
.logout {
  height: 1.7em;
  width: 1.7em;
}
.bi-record {
  height: 2.2em;
  width: 2.2em;
  margin: 1px 0px 0px 1px;
  filter: invert(69%) sepia(43%) saturate(437%) hue-rotate(103deg) brightness(91%) contrast(89%);
}
.home-record {
  height: 2.2em;
  width: 2.2em;
  filter: invert(80%) sepia(14%) saturate(1272%) hue-rotate(111deg) brightness(96%) contrast(89%);
}
/*--------------------------------------------------------------------------*/
.social-buttons {
  width: 100%;
  height: 40%;
  /* height: 38%; */
  border-bottom: 1px solid #616161;
  box-shadow: 5px 5px solid gray;
  background: #686a6b;
  border-top: 1px solid #adadad;
  box-shadow: inset 0px 3px 5px #bfbfbf, inset 1px -3px 5px #525151;

}
.nav-buttons {
  width: 100%;
  height: 55%;
  background: #ecf0f3;
  display: flex;
  border-top: 1px solid #a9a9a9;
  box-shadow: inset 1px 5px 4px #ffffff;
}
.like-comment-container, .profile-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.individual-btn {
  height: 40px;
  width: 40px;
  color: #ec6aa0;
  list-style-type: none;
  margin: 0px 10px 0px 10px;
  border-radius: 50px;
  box-shadow: 3px 3px 5px #3d3f3f, -2px -2px 3px #939597;
}
.individual-profile-pic {
  height: 85%;
  width: 85%;
  background-size: cover;
  overflow: hidden;
  background-position: center;
  border-radius: 50px;
  box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #989898;
}
.individual-btn:active {
  box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #989898;
}
.nav-buttons-inset:active {
  box-shadow: inset 2px 2px 3px 0px #b0b1b3, inset -2px -2px 3px #ffffff;
}
.edit-profile-button:active {
  box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #989898;
}
.inset-social-p:active {
  box-shadow: inset 2px 2px 3px #313232, 
  inset -2px -2px 3px #9fa2a4;
}

.comment-pop-out {
  height: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20%;
  background: #ecf0f3;
  border-radius: 30px 30px 0px 0px;
  transition: height .5s;
}
.inner-com {
  height: 90%;
  width: 96%;
  margin: 2% 0% 1% 0%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 4px #cccccc, inset -2px -2px 4px #ffffff;
}
.com-cont-1 {
  height: 30%;
  width: 100%;
}
.com-cont-2 {
  height: 67%;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  /* background: #d8d8d8; */
  box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;
}
.comments-container {
  height: 88%;
  width: 93%;
  /* margin-top: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #494848; */
  border-radius: 24px;
  box-shadow: 2px 2px 4px #d0d1d2, -2px -2px 4px #ffffff;
}
.comment-list-container {
  height: 88%;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  /* background: #ec66b7;
  border: 1px solid #f978c6;
  border-radius: 20px; */
  /* box-shadow: inset 4px 4px 3px #af4886, inset -3px -3px 3px #fdaede; */
  /* box-shadow: inset 3px 3px 4px #bd5292, inset -2px -2px 3px #ffade9; */
  /* background: #dadada; */
  border-radius: 15px;
  background: #686a6b;
  /* border: 1px solid #f978c6; */
  /* box-shadow: inset 4px 4px 3px #af4886, inset -3px -3px 3px #fdaede; */
  /* box-shadow: inset 3px 3px 3px #bd5292, inset -2px -2px 3px #ffade9; */
  /* box-shadow: inset 3px 3px 4px #4a4848, inset -2px -2px 3px #acadad; */
  /* box-shadow: inset 2px 2px 3px #818181, inset -3px -3px 3px #ffffff; */
  box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #afafaf;
}

.comment-list {
  min-height: 40px;
  max-height: 100px;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  background: #686a6b;
  border-radius: 20px;
  box-shadow: inset 2px 2px 3px #3d3f3f, inset -2px -2px 3px #9e9e9e;
}
.comment-list-inner {
  height: 85%;
  width: 93%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comment-username {
  color: #ec6aa0;
  font-weight: bold;
}
.comment-date {
  color:#63d8a7;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 10px;
}
.comment-text {
  height: 85%;
  color: white;
  border-radius: 10px;
  word-wrap: break-word;
  font-size: 12px;
  overflow-y: scroll;
  line-height: 1;
  text-align: left;
  padding-left: 5px;
}
.input-container {
  height: 75%;
  width: 93%;
  border-radius: 20px;
  flex-direction: column;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 4px #d0d1d2, inset -2px -2px 7px #ffffff;
}
.input-inset {
  height: 70%;
  width: 91%;
  border-radius: 15px;
  box-shadow: inset 2px 2px 4px #d0d1d2, inset -2px -2px 7px #ffffff;
}
.social-comment-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-bar {
  height: 4%;
  width: 96%;
  margin: 1% 0% 2% 0%;
  border-radius: 20px;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 3px #bdc0c2, inset -2px -2px 3px #ffffff;
}
.social-panel {
  height: 80%;
  position: relative;
  bottom: 0;
  transition: bottom .5s;
  overflow-y: hidden;
}
.video-scroll-container {
  height: 100%; 
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.video-pane {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  /* background-image: url('./images/gradient-bg-2.png'),
                    url('https://media.giphy.com/media/l3b01SFaxG0V0GqV6N/source.gif'); */
  background-size: cover;
  background-position-x: center;
}
.video-details-container {
  height: 130px;
  width: 356px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  border: 1px solid #6b6a6a;
  background-image: url('./images/bg-transparent2.png');
  background-size: cover;
  background-position: center;
  bottom: 3%;
  box-shadow: 0px 8px 20px 0px #00000099;
}
.transparent-test {
  height: 90%;
  width: 96.5%;
  border-radius: 49px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 3px 3px 6px #353535, inset -2px -2px 3px #8c8f90;
}
.user-details-container {
  height: 70%;
  width: 70%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-position: 24% 50%;
  box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 2px #7b7b7b;
}
.user-details-inset {
  height: 80%;
  width: 92%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #5a5a5a;
  box-shadow: inset 3px 3px 4px #2d2d2d, inset -2px -2px 3px #8c8f90;
}
.text-container {
  height: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  position: relative;
  top: 82%;
  left: -10%;
}
.ud-text {
  white-space: nowrap;
  width: 95%;
  text-align: left;
  display: inline-block;
  transform: translateX(110%)
}
.udt-1 {
  animation: floatText 5s linear infinite
}
.udt-2 {
  color: white;
  animation: floatText 5s linear infinite
}
.udt-3 {
  color: white;
  font-size: 12px;
  animation: floatText 5s linear infinite
}
@keyframes floatText {
  to {
    transform: translateX(-110%);
  }
}

.user-profile-inset {
  height: 80%;
  width: 90%;
  margin-right: 3%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 3px #7b7b7b;
}
.user-profile-image {
  height: 70%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-p {
  display: flex;
  justify-content: center;
  align-items: center;

}
.inset-social-p {
  box-shadow: 2px 2px 5px #2a2a2b, -2px -2px 3px #7b7b7b;
}
/* --------------------------CUSTOME RHYMES P TAGS P TAGS P TAGS ----------------------------*/
.transcript-line-1 {
  color: white;
  width: 95%;
  text-align: start;
  margin-left: 3%;
}
.transcript-line-2 {
  height: 90%;
  width: 93%;

  text-align: start;
  overflow-y: scroll;
  color: #01fff3;
  font-size: 14px;
}
.transcript-line-3 {
  color: blue;
}
.transcript-line-4 {
  color: yellow;
}
/* -----------------------------------------------Customize Rhymes Section--------------------------------------------------- */
.TestAudio p {
  font-weight: bold;
  text-shadow: 3px 4px 5px #494848;
}
.scroll-rhymes-container {
  height: 70%;
  width: 87%;
  margin-top: 3%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: inset 2px 2px 3px #000000fc, inset -2px -2px 3px #ffffffdb;
}
.scroll-rhymes-line {
  height: 15%;
  width: 88%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: inset 2px 2px 3px #000000fc, inset -2px -2px 3px #ffffffdb;
  overflow-x: scroll;
}
.scroll-rhymes-outer {
  height: 40%;
  background-image: url('./images/turnt-bg-image.jpg');
  background-size: 104%;
  background-position-x: 50%;
  background-position-y: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.custom-rhyme {
  height: 50px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #b7b4b4;
  box-shadow: inset 4px 4px 5px #999c9e, 
              inset -4px -4px 7px #ffffff;
}
.custom-rhyme-inner {
  height: 65%;
  width: 94%;
  background: #383838;
  border-radius: 50px;

}
.suggestions-container {
  height: 40%;
  width: 100%;
  background: #ecf0f3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.suggestions {
  height: 45%;
  width: 95%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px #d0d2d4, 
             -2px -2px 3px #ffffff;
}
.canvas-anim-box {
  background: #ecf0f3;
  border-bottom: 5px solid #ecf0f3;
  box-shadow: inset 0px -5px 4px #d8d5d5;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.canvas-outset {
  height: 85%;
  width: 85%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #ecf0f3;
  box-shadow: 3px 3px 5px 0px #d0d2d4, -2px -2px 3px #ffffff;
}
.canvas-inset {
  height: 80%;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset 2px 2px 5px #999c9e, inset -3px -3px 4px #ecebeb;
  /* background-image: url('./images/canvas-wave.png');
  background-size: cover;
  background-position-y: center; */
}
.canvas-container {
  height: 70%;
  width: 91%;
  border-radius: 50px;
  overflow: hidden;
}
canvas {
  position: relative;
  bottom: 80%;
}
.playback-controls-panel {
  height: 35%;
  background: #686a6b;
  border-top: 2px solid #8a8c8e;
  box-shadow: inset 1px 3px 4px 0px #adadad;
}
.playback-container {
  height: 33%;
  display: flex;
  justify-content: center;
}
.playback-wrapper {
  height: 100%;
  width: 95%;
  display: flex;
  align-items: center;
}

.tracks-container {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tracks-inset {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px #313232,
              inset -5px -5px 5px #9fa2a4;
}
.tracks-onset {
  height: 65%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #383838;
  border-radius: 50px;
}
.track-select {
  background-color: #383838;
  color: white;
  border-color: #383838;
}
.track-select:focus {
  outline: none !important;
}

#takes{
  background-color: #383838;
  color: white;
  border-color: #383838;
}
#takes:focus {
  outline: none !important;
}

.selected-container {
  width: 20%;
  display: flex;
  justify-content: center;
}
.selected-container div {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  font-size: .7em;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 7px #3d3f3f,
             -4px -4px 5px #939597;
}
.duration-container {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dur-inset {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: inset 5px 5px 15px #313232,
              inset -5px -5px 5px #9fa2a4;
}
.dur-onset {
  height: 40%;
  width: 95%;
  border-radius: 50px;
  background: #63DEBC;
}
/* -----------Play Studio Buttons (TESTAUDIO)------------- */
.button-icons-inset {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #686a6b;
  box-shadow: inset 5px 5px 15px #313232, 
              inset -5px -5px 15px #9fa2a4;
  transition: box-shadow .5s;
}
.button-icons-outset:active {
  box-shadow: inset 2px 2px 3px #313232, 
              inset -2px -2px 3px #9fa2a4;
}
.icon-double-inset.idi-1:active {
  animation: none;
  box-shadow: inset 2px 2px 3px #313232, 
              inset -2px -2px 3px #9fa2a4;
}
.button-icons-outset {
  height: 40px;
  width: 40px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #686a6b;
  box-shadow:  4px 4px 10px #3d3f3f,
              -4px -4px 10px #939597;
}
.nav-list-play{
  display: flex;
  height: 55%;
  width: 100%;
  border-top: 1px solid #686a6b;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}
.nav-buttons-play {
  height: 60%;
  padding-top: 10px;
  background: #ecf0f3;
  border-top: 5px solid #ecf0f3;
  box-shadow: inset 0px 3px 5px #cecece;
}
.bi-play {
  font-size: .9em;
}

/*-----------------------------HAMBURGER HAMBURGER HAMBURGER MENU MENU MENU-------------------------*/
nav {
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: #686a6b;
  border-bottom: 5px solid #686a6b;
  box-shadow: inset -1px -3px 5px 0px #8e8b8b;
}
.hamburger-button {
  height: 60px;
  width: 60px;
  position: fixed;
  top: 1px;
  z-index: 99;
  background: rgba(255, 255, 255, 0);
}
.hamburger-button div {
  display: block;
  width: 25px;
  height: 5px;
  margin: 4px;
  position: relative;
  background: #ec6aa0;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px #313232, 
              inset -1px -1px 1px #aaacad;
}
.menu {
  height: 85%;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #686a6b;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 20px;
  box-shadow: inset 3px 3px 4px #484b4c, 
              inset -3px -3px 4px #8c8f90;
}
.menu-route {
  height: 30%;
  width: 50%;
  opacity: var(--menuOpacity)
}
.menu-outset {
  height: 100%;
  width: 55%;
  border-radius: 50px;
}
.menu-inset {
  height: 70%;
  width: 70%;
  border-radius: 50px;
}
.menu-inset:active {
  box-shadow: inset 2px 2px 3px #484b4c, inset -2px -2px 3px #9fa2a4 !important;
  background: linear-gradient(315deg, #d9dada, #919292) !important;
}
.menu-route, .menu-outset, .menu-inset {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mo-6, .mo-5, .mo-4, .mo-3, .mo-2, .mo-1 {
  box-shadow: inset 0px 0px 0px #686a6b, inset -0px -0px 0px #686a6b;
}
.mi-6, .mi-5, .mi-4, .mi-3, .mi-2, .mi-1 {
  box-shadow: 0px 0px 8px #686a6b, -0px -0px 0px #686a6b;
  background: linear-gradient(139deg, #686a6b, #686a6b);
}
.mo-6 {
  opacity: var(--mo6opacity);
  animation: var(--anim-dip-6)
}
.mo-5 {
  opacity: var(--mo5opacity);
  animation: var(--anim-dip-5)
}
.mo-4 {
  opacity: var(--mo4opacity);
  animation: var(--anim-dip-4)
}
.mo-3 {
  opacity: var(--mo3opacity);
  animation: var(--anim-dip-3)
}
.mo-2 {
  opacity: var(--mo2opacity);
  animation: var(--anim-dip-2)
}
.mo-1 {
  opacity: var(--mo1opacity);
  animation: var(--anim-dip-1)
}
.mi-6 {
  animation: var(--anim-pop-6)
}
.mi-5 {
  animation: var(--anim-pop-5)
}
.mi-4 {
  animation: var(--anim-pop-4)
}
.mi-3 {
  animation: var(--anim-pop-3)
}
.mi-2 {
  animation: var(--anim-pop-2)
}
.mi-1 {
  animation: var(--anim-pop-1)
}
.mi-6 a {
  color: var(--link-color-6);
}
.mi-5 a {
  color: var(--link-color-5);
}
.mi-4 a {
  color: var(--link-color-4);
}
.mi-3 a {
  color: var(--link-color-3);
}
.mi-2 a {
  color: var(--link-color-2);
}
.mi-1 a {
  color: var(--link-color-1);
}
.menu a {
  text-decoration: none;
  font-weight: bold;
  font-size: .8em;
}

/*------------------------------HOME HOME HOME HOME HOME HOME HOME HOME PAGE----------------------------*/
.Home {
  height: 100%;
}
.img-panel-container {
  height: 60%;
  background-image: url('./images/hero-image-1.png');
  background-size: cover;
  background-position-x: center;
}
.vp-home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-size: 100% 100%;
}
.test-transparent {
  height: 84.9%;
  width: 84.9%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 45px;
  box-shadow: inset 3px 3px 2px #0000007a, inset -2px -2px 5px #ffffff61;
}
.test-transparent h5 {
  position: relative;
  color: white;
  bottom: -85%;
  left: 25%;
}
.bottom-directories {
  height: 40%;
  background: #686a6b;
  /* border-top: 1px solid #686a6b; */
  box-shadow: inset -1px 3px 5px 0px #8c8c8c;
  font-family: 'Major Mono Display', monospace;
  color: white;
}
.bm-dir-container {
  height: 33%;
  display: flex;
}
.dir-route {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dir-icon {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-directories h4 {
  opacity: var(--btnOpacity);
  animation: buttonOpacity .3s .8s linear forwards;
}
.route-outset, .route-inset, .route-double-inset, .icon-outset, .icon-inset, .icon-double-inset {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.home-record, .home-heart, .home-avatar {
  font-size: .7em;
  opacity: var(--btnOpacity);
}
@keyframes insetButtons {
  from {
    box-shadow: none
  }
  to {
    box-shadow: inset 5px 5px 5px #505050, 
                inset -2px -2px 5px #9fa2a4;
  }
}
@keyframes outsetButtons {
  from {
    box-shadow: none
  }
  to {
    box-shadow: 3px 3px 5px #abacad, 
               -3px -3px 4px #ffffff;
  }
}
@keyframes outsetButtonsException {
  from {
    box-shadow: none
  }
  to {
    box-shadow: inset 2px 2px 3px #abacad, inset -2px -2px 3px #ffffff;
  }
}

@keyframes iconButtons {
  from {
    box-shadow: none
  }
  to {
    box-shadow: 1px 1px 4px #353535, 
                -1px -1px 3px #bbbcbd;
  }
}
@keyframes buttonOpacity {
  0% {
    --btnOpacity: 0;

  }
  25% {
    --btnOpacity: 0.25;
  }
  50% {
    --btnOpacity: 0.5;
  }
  75% {
    --btnOpacity: 0.75
  }
  100% {
    --btnOpacity: 1;

  }
}
@keyframes flowColor {
  0% {
    --routedi2bg: #ecf0f3;
  }
  50% {
    --routedi2bg: #7bc5a6;
  }
  100% {
    --routedi2bg: #58c397;
  }
}
.dr-1 .route-outset,
.dr-3 .route-outset {
  height: 85%;
  width: 90%;
  animation: insetButtons .3s linear forwards;
}
.dr-1 .route-inset,
.dr-3 .route-inset {
  height: 70%;
  width: 85%;
  animation: insetButtons .3s .3s linear forwards;
}
.dr-1 .route-double-inset,
.dr-3 .route-double-inset  {
  height: 55%;
  width: 80%;
  animation: insetButtons .3s .6s linear forwards, buttonOpacity .3s .8s linear forwards;
}
.bdc-1 {
  border-bottom: 1px solid #686a6b;
  box-shadow: inset 1px -4px 5px #585858;
}
.bdc-2 {
  background: #ecf0f3;
}
.bdc-3 {
  box-shadow: inset -1px 5px 5px 0px #8c8c8c;
}
.route-o2 {
  height: 85%;
  width: 90%;
  animation: outsetButtons .3s linear forwards;
}
.route-i2 {
  height: 70%;
  width: 85%;
  animation: outsetButtons .3s .3s linear forwards;
}
.route-di2 {
  height: 55%;
  width: 80%;
  background: var(--routedi2bg);
  animation: outsetButtons .3s .6s linear forwards, flowColor 1s .5s linear forwards;
}

.di-1 .icon-outset,
.di-3 .icon-outset {
  height: 70%;
  width: 70%;
  animation: insetButtons .3s linear forwards;
}
.di-1 .icon-inset,
.di-3 .icon-inset {
  height: 75%;
  width: 75%;
  animation: insetButtons .3s .3s linear forwards;
}
.di-1 .icon-double-inset,
.di-3 .icon-double-inset  {
  height: 60%;
  width: 60%;
  animation: iconButtons .3s .6s linear forwards, buttonOpacity .3s .8s linear forwards;
}
.io-2 {
  height: 70%;
  width: 70%;
  animation: outsetButtons .3s linear forwards;
}
.ii-2 {
  height: 75%;
  width: 75%;
  animation: outsetButtons .3s .3s linear forwards;
}
.idi-2 {
  height: 60%;
  width: 60%;
  animation: outsetButtonsException .3s .6s linear forwards, buttonOpacity .3s .8s linear forwards;
}
/* ----------------------------AUTH AUTH AUTH AUTH LOG IN LOG IN LOG IN LOG IN ------------------------------------------------*/
.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ecf0f3;
}
.upper-container {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upper-outset {
  height: 70%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 3px #cccccc, inset -2px -2px 3px #fdfeff;
}
.upper-inset {
  width: 94%;
  height: 70%;
  display: flex;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 2px 2px 4px #c7c7c7, inset -2px -2px 2px #ffffff;
}
.upper-inset div {
  border-radius: 100%;
  width: 22px;
  height: 22px;
  box-shadow: 2px 2px 3px #b5b5b5, -2px -2px 3px #ffffff;
}
.middle-container {
  height: 75%;
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ecf0f3;
  box-shadow: 3px 3px 5px #adadad, -3px -3px 3px #ffffff;
}
.mid-outset {
  height: 97%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: url('https://media.giphy.com/media/csC81vIxkW6fm35G7q/source.gif');
  background-position: center;
  background-size: cover;
  border: 1px solid rgb(181 181 181);
  box-shadow: inset 4px 4px 10px #1f1f1f66, inset -4px -4px 8px #dcdcdcb8;
}
.mid-inset {
  height: 60%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #ecf0f3;
  box-shadow: -7px 8px 9px #00000073, 0px 0px 3px #fdfeff;
}
.login-container {
  height: 97.3%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ecf0f3;
  border-radius: 18px;
  box-shadow: inset 2px 2px 3px #afafaf, inset -2px -2px 3px #fdfeff;
}
.title-container {
  height: 20%;
  width: 80%;
}
.title-container h1 {
  font-size: 50px;
  background-color: #b7b5b5;
  color: transparent;
  text-shadow: 2px 2px 3px rgb(255 255 255 / 50%);
  -webkit-background-clip: text;
}

.user-input-container {
  height: 70%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 3px 3px 5px #d0d0d0, -3px -3px 3px #fdfeff;
}
.user-input {
  height: 10%;
  width: 80%;
  padding: 5px;
  border-radius: 20px;
  box-shadow: inset 2px 2px 3px #bbbaba, inset -2px -2px 3px #ffffff
}
.login-button {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(46, 194, 145);
  border-radius: 20px;
  box-shadow: 3px 4px 8px #a9a9a9, -1px 1px 3px #fdfeff;
}
.login-link {
  text-decoration: none;
  color: white;
  height: 15%;
  width: 85%
}
.user-text {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: #ecf0f3;
  border: none;
}
.user-text::placeholder {
  color: rgb(165, 164, 164);
}
.ui-login-i {
  padding: 0px;
  height: 15%;
  border-radius: 20px;
  box-shadow: inset 2px 2px 3px #bbbaba, inset -2px -2px 3px #ffffff;
}
.ui-login-t {
  background: none;
  font-family: inherit;
  padding-left: 10%;
  width: 90%;
  height: 100%;
}
.ui-login-t:focus {
  outline: none !important;
  border: 2px solid rgb(46, 194, 145);
  color: rgb(38, 153, 115);
  /* outline: none !important;
  color: white;
  border-radius: 20px;
  font-family: inherit; */
}

.bottom-container {
  height: 15%;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.useless-bars {
  height: 15%;
  width: 90%;
  margin: 2% 0% 2% 0%;
  border-radius: 20px;
  box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
}
/*-----------------------------EDIT PROFILE EDIT EDIT EDIT PROFILE PROFILE EDIT EDIT ----------------------------------------------*/
.profile-pc, .profile-uo, .profile-mc, .profile-mi, .profile-lc {
  background: #686a6b;
}
.profile-ui div {
  box-shadow: 4px 4px 5px #3d3f3f, -2px -2px 3px #939597;
}
.profile-mi {
  height: 80%;
}
.profile-mc {
  height: 85%;
  box-shadow: 4px 4px 5px #3d3f3f, -2px -2px 3px #939597;
}
.profile-bc {
  height: 10%;
}
.profile-uic {
  height: 85%;
  box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;
}
.profile-uo, .profile-ui, .profile-ub {
  box-shadow: inset 3px 3px 4px #484b4c, inset -3px -3px 4px #8c8f90;
}
.profile-uo {
  width: 70%;
}
.profile-ui {
  width: 92.5%;
  color: #ec6aa0;
}
.profile-lc {
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.profile-mo {
  border: 1px solid rgb(105 105 105);
  background-image: url('https://media.giphy.com/media/320D33H2y2BW3U3GKL/source.gif')
}
.profile-mi {
  box-shadow: -7px 8px 9px #00000073, 0px 0px 0px #fdfeff;
}

.profile-user-i {
  height: 100%;
  width: 100%;
  padding: 0px;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.profile-user-t {
  background: none;
  height: 95%;
  width: 87%;
  border-radius: 20px;
  padding-left: 12%;
  /* overflow-x: scroll; */
}
.profile-user-t:defined, .social-comment-input:defined {
  color: pink;
}
.social-comment-input {
  font-family: inherit;
  font-size: 1em;
  height: 50%;
  width: 81%;
  border-radius: 20px;
  border: 1px solid #686a6b;
  padding-left: 5%;
  background: #686a6b;
  box-shadow: inset 2px 2px 3px #4c4c4c, inset -1px -1px 3px #b3b1b1;
}
.social-comment-input::placeholder {
  color: #adadad;
}
.profile-user-t:focus, .social-comment-input:focus {
  border: 2px solid pink;
  outline: none !important;
  color: white;
  border-radius: 20px;
  font-family: inherit;
}
.input-sections {
  font-size: 12px;
  height: 11%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-sections-container {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.submit-button-edit {
  border: none;
  border-radius: 20px;
  background: rgb(46, 194, 145);
  width: 100%;
  height: 8%;
  color: white;
  margin-top: 6%;
  box-shadow: 2px 2px 4px #283e35, -1px -1px 1px #98efbf;
}
.follow {
  font-size: 2.5em;
}
/* -----------------------------------PROFILE PROFILE PROFILE PROFILE --------------------------------------------*/
.nb-profile {
  height: 10%;
  position: fixed;
  bottom: 0;
  border: none;
}
.profile-header {
  height: 50%;
  width: 100%;
  background-color: #686a6b;
  border-bottom: 5px solid #686a6b;
  box-shadow: inset -1px -3px 5px 0px #8e8b8b;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.upper-filler {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 9%
}
.inner-filler {
  height: 50%;
  width: 70%;
  border-radius: 50px;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.username-pic-container, .username-pic-outset, .profile-pic-container, .profile-post-feed,
.username-container, .username-outset, .username-inset, .users-details-container, .users-details-outset,
.edit-profile-container, .log-profile-container, .edit-profile-outset, .users-details-each,
.edit-profile-inset, .log-profile-outset, .log-profile-inset, .edit-profile-button, 
.log-profile-button, .profile-post-inner, .profile-post-inner-inner,
.profile-pic-inset, .profile-pic-outset {
  display: flex;
  justify-content: center;
  align-items: center;
}
.username-pic-container {
  height: 25%;
  width: 100%;  
}
.username-pic-outset {
  height: 90%;
  width: 93%;
  border-radius: 50px;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.header-bio {
  height: 65%;
  width: 100%;
  display: flex;
}
.profile-pic-container {
  height: 100%;
  width: 30%;
}
.profile-pic-outset {
  height: 75%;
  width: 75%;
  border-radius: 100%;
  box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;
}
.profile-pic-inset {
  height: 88%;
  width: 88%;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #e24f8c;
}
.profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.username-container {
  width: 70%;
  height: 100%;
}
.username-outset {
  height: 80%;
  width: 90%;
  border-radius: 50px;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.username-inset {
  height: 70%;
  width: 85%;
  border-radius: 50px;
  box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;
}
.username-inset h3 {
  color: #e24f8c;
}
.users-details-container {
  height: 100%;
  width: 70%;
}
.edit-logout-container {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-profile-container, .log-profile-container {
  height: 40%;
  width: 100%;
}
.edit-profile-outset, .log-profile-outset {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;
}
.edit-profile-inset, .log-profile-inset {
  height: 90%;
  width: 90%;
  border-radius: 50%;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.edit-profile-button, .log-profile-button {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  box-shadow: 3px 3px 4px #525252, -2px -2px 3px #939597;
}
.users-details-outset {
  height: 90%;
  width: 90%;
  border-radius: 25px;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.users-details-inset {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
  overflow-y: scroll;
}
.users-details-each {
  width: 90%;
  color: pink;
  margin-top: 5%;
  border-radius: 20px;

  box-shadow: inset 3px 3px 4px #4f5050, inset -3px -3px 4px #8c8f90;
}
.ude-1 {
  min-height: 15%;
  max-height: 50%;
  padding: 5px 0px 5px 0px;
}
.ude-2, .ude-3, .ude-4, .ude-0 {
  height: 15%;
}
.users-details-each p {
  font-size: 12px;
  width: 90%;
  text-align: start;
  overflow-y: scroll;
}
.profile-post {
  width: 49vw;
  height: 49vw;
  border: 0.5vw solid white;
}
.profile-post-feed {
  height: 39%;
  width: 100%;
  box-shadow: inset 0px 3px 2px 0px #b9b7b7;
  overflow-y: auto;
  background: #ecf0f3;
}
.profile-post-inner {
  height: 94%;
  width: 94%;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
}
.profile-post-inner-inner {
  height: 92%;
  width: 93%;
  flex-direction: column;
  border-radius: 18px;
  box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
}
.profile-post-innerest {
  height: 90%;
  width: 92%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: inset 3px 3px 4px #c5c5c5, inset -3px -3px 5px #ffffff;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.your-track-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.your-track-container h4 {
  width: 85%;
  margin-left: 4%;
  text-align: start;
  color:rgb(46, 194, 145);
}
.lyrics-container {
  font-size: 12px;
  margin-left: 4%;
  height: 80%;
  width: 85%;
  color: #e24f8c;
  overflow-y: scroll;
  text-align: start;
}
.profile-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-linker {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.ui-login-t:defined {
  color: rgb(37, 138, 104);
}